{
  "web": {
    "client_id": "abc123456789.apps.googleusercontent.com",
    "client_secret": "def987654321",
    "redirect_uris": ["https://my-dredit-instance.appspot.com"],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}
