<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>StartPageServlet</servlet-name>
    <servlet-class>com.google.drive.samples.dredit.StartPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartPageServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.google.drive.samples.dredit.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/svc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.google.drive.samples.dredit.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>com.google.drive.samples.dredit.AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
   <welcome-file>start</welcome-file>
 </welcome-file-list>
</web-app>
